
body {
  font-family: Arial;
}

h1, h2 {
  text-align: center;
}

.point{
  stroke-width: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}


#col1 {
  width: 33.3%;
}

#col2 {
  width: 33.4%;
}

#col3 {
  width: 33.3%;
}


.selected {
  opacity: 1 !important; 
  stroke: orange;
  stroke-width: 2px;
}